{{ header }}
<link href="extension/iskra_account/resource/css/account.css" rel="stylesheet" type="text/css"/>
<script src="extension/iskra_account/resource/js/account.js" type="text/javascript"></script>
<script src="extension/iskra_account/resource/js/password-strength.js" type="text/javascript"></script>
<script src="extension/iskra_account/resource/js/phone-mask.js" type="text/javascript"></script>
<div id="account-register" class="container iskra-page">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">
    {{ column_left }}
    <div id="content" class="col">
      {{ content_top }}
      <div class="iskra-card">
        <div class="iskra-card__header">
          <h1>{{ heading_title }}</h1>
          <p>{{ text_account_already }}</p>
        </div>
        <form id="form-register" action="{{ register }}" method="post" data-oc-toggle="ajax" class="iskra-form">

          <fieldset class="iskra-fieldset">
            <legend class="iskra-fieldset__legend">
              <i class="fa-solid fa-user"></i> {{ text_your_details }}
            </legend>

            {% if customer_groups|length > 1 %}
              <div class="iskra-field iskra-field--select">
                <label class="iskra-label">{{ entry_customer_group }}</label>
                <select name="customer_group_id" id="input-customer-group" class="iskra-select">
                  {% for customer_group in customer_groups %}
                    <option value="{{ customer_group.customer_group_id }}"{% if customer_group.customer_group_id == customer_group_id %} selected{% endif %}>{{ customer_group.name }}</option>
                  {% endfor %}
                </select>
              </div>
            {% endif %}

            <div class="iskra-grid iskra-grid--2">
              <div class="iskra-field">
                <label for="input-firstname" class="iskra-label">{{ entry_firstname }} <span class="iskra-required">*</span></label>
                <div class="iskra-input-wrap">
                  <i class="fa-solid fa-user iskra-input-icon"></i>
                  <input type="text" name="firstname" value="" placeholder="{{ entry_firstname }}" id="input-firstname" class="iskra-input" autocomplete="given-name"/>
                </div>
                <div id="error-firstname" class="iskra-error"></div>
              </div>
              <div class="iskra-field">
                <label for="input-lastname" class="iskra-label">{{ entry_lastname }} <span class="iskra-required">*</span></label>
                <div class="iskra-input-wrap">
                  <i class="fa-solid fa-user iskra-input-icon"></i>
                  <input type="text" name="lastname" value="" placeholder="{{ entry_lastname }}" id="input-lastname" class="iskra-input" autocomplete="family-name"/>
                </div>
                <div id="error-lastname" class="iskra-error"></div>
              </div>
            </div>

            <div class="iskra-field">
              <label for="input-email" class="iskra-label">{{ entry_email }} <span class="iskra-required">*</span></label>
              <div class="iskra-input-wrap">
                <i class="fa-solid fa-envelope iskra-input-icon"></i>
                <input type="email" name="email" value="" placeholder="your@email.com" id="input-email" class="iskra-input" autocomplete="email" data-oc-toggle="check-email" data-oc-url="{{ iskra_check_email_url }}"/>
                <span class="iskra-input-status"></span>
              </div>
              <div id="error-email" class="iskra-error"></div>
            </div>

            <div class="iskra-field">
              <label for="input-telephone" class="iskra-label">{{ entry_telephone }}</label>
              <div class="iskra-input-wrap">
                <i class="fa-solid fa-phone iskra-input-icon"></i>
                {% if iskra_phone_mask %}
                  <input type="tel" name="telephone" value="" placeholder="+7 (___) ___-__-__" id="input-telephone" class="iskra-input iskra-input--phone" autocomplete="tel" data-oc-mask="phone"/>
                {% else %}
                  <input type="tel" name="telephone" value="" placeholder="{{ entry_telephone }}" id="input-telephone" class="iskra-input" autocomplete="tel"/>
                {% endif %}
              </div>
              <div id="error-telephone" class="iskra-error"></div>
            </div>

            {% for custom_field in custom_fields %}
              {% if custom_field.type == 'select' %}
                <div class="iskra-field custom-field custom-field-{{ custom_field.custom_field_id }}">
                  <label for="input-custom-field-{{ custom_field.custom_field_id }}" class="iskra-label">{{ custom_field.name }}</label>
                  <select name="custom_field[{{ custom_field.custom_field_id }}]" id="input-custom-field-{{ custom_field.custom_field_id }}" class="iskra-select">
                    <option value="">{{ text_select }}</option>
                    {% for custom_field_value in custom_field.custom_field_value %}
                      <option value="{{ custom_field_value.custom_field_value_id }}">{{ custom_field_value.name }}</option>
                    {% endfor %}
                  </select>
                  <div id="error-custom-field-{{ custom_field.custom_field_id }}" class="iskra-error"></div>
                </div>
              {% endif %}
              {% if custom_field.type == 'radio' %}
                <div class="iskra-field custom-field custom-field-{{ custom_field.custom_field_id }}">
                  <label class="iskra-label">{{ custom_field.name }}</label>
                  <div id="input-custom-field-{{ custom_field.custom_field_id }}">
                    {% for custom_field_value in custom_field.custom_field_value %}
                      <div class="form-check">
                        <input type="radio" name="custom_field[{{ custom_field.custom_field_id }}]" value="{{ custom_field_value.custom_field_value_id }}" id="input-custom-value-{{ custom_field_value.custom_field_value_id }}" class="form-check-input"/>
                        <label for="input-custom-value-{{ custom_field_value.custom_field_value_id }}" class="form-check-label">{{ custom_field_value.name }}</label>
                      </div>
                    {% endfor %}
                  </div>
                  <div id="error-custom-field-{{ custom_field.custom_field_id }}" class="iskra-error"></div>
                </div>
              {% endif %}
              {% if custom_field.type == 'checkbox' %}
                <div class="iskra-field custom-field custom-field-{{ custom_field.custom_field_id }}">
                  <label class="iskra-label">{{ custom_field.name }}</label>
                  <div id="input-custom-field-{{ custom_field.custom_field_id }}">
                    {% for custom_field_value in custom_field.custom_field_value %}
                      <div class="form-check">
                        <input type="checkbox" name="custom_field[{{ custom_field.custom_field_id }}][]" value="{{ custom_field_value.custom_field_value_id }}" id="input-custom-value-{{ custom_field_value.custom_field_value_id }}" class="form-check-input"/>
                        <label for="input-custom-value-{{ custom_field_value.custom_field_value_id }}" class="form-check-label">{{ custom_field_value.name }}</label>
                      </div>
                    {% endfor %}
                  </div>
                  <div id="error-custom-field-{{ custom_field.custom_field_id }}" class="iskra-error"></div>
                </div>
              {% endif %}
              {% if custom_field.type == 'text' %}
                <div class="iskra-field custom-field custom-field-{{ custom_field.custom_field_id }}">
                  <label for="input-custom-field-{{ custom_field.custom_field_id }}" class="iskra-label">{{ custom_field.name }}</label>
                  <input type="text" name="custom_field[{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-custom-field-{{ custom_field.custom_field_id }}" class="iskra-input"/>
                  <div id="error-custom-field-{{ custom_field.custom_field_id }}" class="iskra-error"></div>
                </div>
              {% endif %}
              {% if custom_field.type == 'textarea' %}
                <div class="iskra-field custom-field custom-field-{{ custom_field.custom_field_id }}">
                  <label for="input-custom-field-{{ custom_field.custom_field_id }}" class="iskra-label">{{ custom_field.name }}</label>
                  <textarea name="custom_field[{{ custom_field.custom_field_id }}]" rows="5" placeholder="{{ custom_field.name }}" id="input-custom-field-{{ custom_field.custom_field_id }}" class="iskra-input iskra-input--textarea">{{ custom_field.value }}</textarea>
                  <div id="error-custom-field-{{ custom_field.custom_field_id }}" class="iskra-error"></div>
                </div>
              {% endif %}
              {% if custom_field.type == 'file' %}
                <div class="iskra-field custom-field custom-field-{{ custom_field.custom_field_id }}">
                  <label class="iskra-label">{{ custom_field.name }}</label>
                  <button type="button" data-oc-toggle="upload" data-oc-url="{{ upload }}" data-oc-size-max="{{ config_file_max_size }}" data-oc-size-error="{{ error_upload_size }}" data-oc-target="#input-custom-field-{{ custom_field.custom_field_id }}" class="iskra-btn iskra-btn--outline"><i class="fa-solid fa-upload"></i> {{ button_upload }}</button>
                  <input type="hidden" name="custom_field[{{ custom_field.custom_field_id }}]" value="" id="input-custom-field-{{ custom_field.custom_field_id }}"/>
                  <div id="error-custom-field-{{ custom_field.custom_field_id }}" class="iskra-error"></div>
                </div>
              {% endif %}
              {% if custom_field.type == 'date' %}
                <div class="iskra-field custom-field custom-field-{{ custom_field.custom_field_id }}">
                  <label for="input-custom-field-{{ custom_field.custom_field_id }}" class="iskra-label">{{ custom_field.name }}</label>
                  <input type="date" name="custom_field[{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-custom-field-{{ custom_field.custom_field_id }}" class="iskra-input"/>
                  <div id="error-custom-field-{{ custom_field.custom_field_id }}" class="iskra-error"></div>
                </div>
              {% endif %}
              {% if custom_field.type == 'time' %}
                <div class="iskra-field custom-field custom-field-{{ custom_field.custom_field_id }}">
                  <label for="input-custom-field-{{ custom_field.custom_field_id }}" class="iskra-label">{{ custom_field.name }}</label>
                  <input type="time" name="custom_field[{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-custom-field-{{ custom_field.custom_field_id }}" class="iskra-input"/>
                  <div id="error-custom-field-{{ custom_field.custom_field_id }}" class="iskra-error"></div>
                </div>
              {% endif %}
              {% if custom_field.type == 'datetime' %}
                <div class="iskra-field custom-field custom-field-{{ custom_field.custom_field_id }}">
                  <label for="input-custom-field-{{ custom_field.custom_field_id }}" class="iskra-label">{{ custom_field.name }}</label>
                  <input type="datetime-local" name="custom_field[{{ custom_field.custom_field_id }}]" value="{{ custom_field.value }}" placeholder="{{ custom_field.name }}" id="input-custom-field-{{ custom_field.custom_field_id }}" class="iskra-input"/>
                  <div id="error-custom-field-{{ custom_field.custom_field_id }}" class="iskra-error"></div>
                </div>
              {% endif %}
            {% endfor %}
          </fieldset>

          <fieldset class="iskra-fieldset">
            <legend class="iskra-fieldset__legend">
              <i class="fa-solid fa-lock"></i> {{ text_your_password }}
            </legend>
            <div class="iskra-grid iskra-grid--2">
              <div class="iskra-field">
                <label for="input-password" class="iskra-label">{{ entry_password }} <span class="iskra-required">*</span></label>
                <div class="iskra-input-wrap">
                  <i class="fa-solid fa-lock iskra-input-icon"></i>
                  <input type="password" name="password" value="" placeholder="{{ entry_password }}" id="input-password" class="iskra-input" autocomplete="new-password" minlength="{{ iskra_password_min_length }}"/>
                  <button type="button" class="iskra-toggle-password" data-oc-toggle="password-visibility" data-oc-target="#input-password">
                    <i class="fa-solid fa-eye"></i>
                  </button>
                </div>
                <div id="error-password" class="iskra-error"></div>
                {% if iskra_password_strength %}
                  <div class="iskra-password-strength" id="password-strength">
                    <div class="iskra-password-strength__bar">
                      <div class="iskra-password-strength__fill" style="width: 0%"></div>
                    </div>
                    <span class="iskra-password-strength__label">{{ text_password_strength }}</span>
                  </div>
                {% endif %}
              </div>
              <div class="iskra-field">
                <label for="input-password-confirm" class="iskra-label">{{ entry_password_confirm }} <span class="iskra-required">*</span></label>
                <div class="iskra-input-wrap">
                  <i class="fa-solid fa-lock iskra-input-icon"></i>
                  <input type="password" name="password_confirm" value="" placeholder="{{ entry_password_confirm }}" id="input-password-confirm" class="iskra-input" autocomplete="new-password"/>
                </div>
                <div id="error-password-confirm" class="iskra-error"></div>
              </div>
            </div>
          </fieldset>

          <fieldset class="iskra-fieldset iskra-fieldset--actions">
            <div class="iskra-field iskra-field--switch">
              <label class="iskra-switch">
                <input type="hidden" name="newsletter" value="0"/>
                <input type="checkbox" name="newsletter" value="1" class="iskra-switch__input"/>
                <span class="iskra-switch__slider"></span>
                <span class="iskra-switch__label">{{ entry_newsletter }}</span>
              </label>
            </div>
            {{ captcha }}
            <div class="iskra-field iskra-field--agree">
              <label class="iskra-checkbox">
                <input type="checkbox" name="agree" value="1" class="iskra-checkbox__input"/>
                <span class="iskra-checkbox__mark">
                  <i class="fa-solid fa-check"></i>
                </span>
                <span class="iskra-checkbox__label">{{ text_agree }}</span>
              </label>
            </div>
          </fieldset>

          <div class="iskra-form-actions">
            <button type="submit" class="iskra-btn iskra-btn--primary iskra-btn--lg">
              <span class="iskra-btn__text">{{ button_continue }}</span>
              <span class="iskra-btn__loader"><i class="fa-solid fa-circle-notch fa-spin"></i></span>
            </button>
          </div>
        </form>
      </div>
      {{ content_bottom }}
    </div>
    {{ column_right }}
  </div>
</div>
<script type="text/javascript">
$('#input-customer-group').on('change', function() {
    $.ajax({
        url: 'index.php?route=account/custom_field&customer_group_id=' + this.value + '&language={{ language }}',
        dataType: 'json',
        success: function(json) {
            $('.custom-field').hide();
            $('.custom-field').removeClass('required');
            for (i = 0; i < json.length; i++) {
                custom_field = json[i];
                $('.custom-field-' + custom_field['custom_field_id']).show();
                if (custom_field['required']) {
                    $('.custom-field-' + custom_field['custom_field_id']).addClass('required');
                }
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});
$('#input-customer-group').trigger('change');
</script>
{{ footer }}
